.primaryButton {
	width: 100%;
	padding: 13px;
	border-radius: 5px;
	background-color: red;
	color: white;
	border: none;
	font-weight: bold;
	font-size: 1.05rem;
	cursor: pointer;
	margin: 24px 0 12px;
}
