.container {
	display: flex;
	color: #737373;
	font-size: 16px;
	font-weight: 500;
	margin-top: 16px;
	gap: 7px;
}

.signUpLink {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	display: block;
}

.signUpLink:hover {
	text-decoration: underline;
}
