.container {
	height: 94px;
	width: 94px;
}

.netflixLogo {
	height: 100%;
	width: 100%;
	display: block;
	background-image: url("../../../assets/netflix-logo.png");
	background-repeat: no-repeat;
	background-size: contain;
}
