.container {
	display: flex;
	gap: 6px;
	cursor: pointer;
}

.facebookIcon {
	aspect-ratio: 1/1;
	background-image: url("../../../assets/facebook-icon.png");
	background-size: cover;
	display: block;
	height: 20px;
}

.link {
	display: block;
	color: #737373;
	font-size: 13px;
	font-weight: 500;
}
