.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}
.loginForm {
	width: 310px;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 5px;
	padding: 50px 70px 110px 70px;
}

.loginForm h1 {
	color: white;
	padding-bottom: 20px;
}
.middleContainer {
	display: flex;
	justify-content: space-between;
	padding: 15px 0px;
	font-size: 0.8rem;
}
.rememberMeContainer {
	display: flex;
	gap: 4px;
}
.rememberMeContainer label {
	display: block;
}
.grey {
	color: #b3b3b3;
}
.help a {
	text-decoration: none;
}
.help a:hover {
	text-decoration: underline;
}
.newToNetflix {
	margin: 10px 0;
	color: #8c8c8c;
}

.signUpNow {
	color: white;
	text-decoration: none;
}

.signUpNow:hover {
	text-decoration: underline;
}

.captchaText {
	font-size: 0.8rem;
	color: #8c8c8c;
	margin-top: 25px;
}

.captchaText a {
	text-decoration: none;
}

.captchaText a:hover {
	text-decoration: underline;
}

.darkGrey {
	color: #737373;
}
